<%= render :partial => "header", :object => {
  "title" => "Repository",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => repositories_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_repository_path(@repository)
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @repository,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this Repository?"
  }]
} %>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Origin</span>
      <span class="value"><%= @repository.origin %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Archive</span>
      <span class="value"><%= @repository.archive %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Component</span>
      <span class="value"><%= @repository.component %></span>
    </p>
  </li>
</ul>

<div class="floatFix"></div>

