<%= render partial: "header", object: {
  "title" => "Edit Concrete Package State",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => concrete_package_states_path
  }, {
    "icon" => "eye",
    "text" => "",
    "path" => @concrete_package_state
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @concrete_package_state,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this Concrete Package State?"
  }]
} %>

<%= render 'form' %>

<div class="floatFix"></div>
