<%= render :partial => "header", :object => {
  "entity" => @task_execution,
  "title" => "Task Execution",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => task_executions_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_task_execution_path(@task_execution),
    "ctrlAction" => :update
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @task_execution,
    "ctrlAction" => :destroy,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this task execution?"
  }]
} %>

<p>Log</p>
<textarea class="col_12" readonly><%= @task_execution.log %></textarea>

<div class="floatFix"></div>
