<%= render :partial => "header", :object => {
  "title" => "User " + @user.name,
  "entity" => @user,
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => users_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_user_path(@user),
    "ctrlAction" => :edit
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @user,
    "ctrlAction" => :destroy,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this user?"
  }]
} %>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Name</span>
      <span class="value"><%= @user.name %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Email</span>
      <span class="value"><%= @user.email %></span>
    </p>
  </li>
  <li>
    <p>
      <span class="property">Role</span>
      <span class="value"><%= @user.role.name %></span>
    </p>
  </li>
</ul>

<div class="floatFix"></div>
