<%= render :partial => "header", :object => {
  "title" => "Distribution",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => distributions_path
  }, {
    "icon" => "pencil",
    "text" => "",
    "path" => edit_distribution_path(@distribution),
    "ctrlAction" => :update
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @distribution,
    "method" => :delete,
    "ctrlAction" => :destroy,
    "confirm" => "Are you sure you want to delete this Distribution?"
  }]
} %>

<ul class="properties col_6">
  <li>
    <p>
      <span class="property">Name</span>
      <span class="value"><%= @distribution.name %></span>
    </p>
  </li>
</ul>

<div class="floatFix"></div>
