<%= render :partial => "header", :object => {
  "title" => "Edit System Group",
  "entity" => @system_group,
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => system_groups_path
  }, {
    "icon" => "eye",
    "text" => "",
    "path" => @system_group,
    "ctrlAction" => :show
  }, {
    "icon" => "remove",
    "text" => "",
    "path" => @system_group,
    "ctrlAction" => :destroy,
    "method" => :delete,
    "confirm" => "Are you sure you want to delete this System Group?"
  }]
} %>

<%= render 'form' %>

<div class="floatFix"></div>
