<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @system_update_state.name %>
</p>

<%= link_to 'Edit', edit_system_update_state_path(@system_update_state) %> |
<%= link_to 'Back', system_update_states_path %>
