<%= render :partial => "header", :object => {
  "title" => "New System",
  "class" => "sysText",
  "actions" =>[{
    "icon" => "arrow-left",
    "text" => "",
    "path" => systems_path
  }]
} %>

<%= render 'form' %>

<div class="floatFix"></div>
