html {
  min-height: 100%;
  background-color: rgba(242, 242, 242, 0.89);
}

.menu {
  & > li {
    border-right: 1px solid #cbcbcb;

    &.right {
      border-right: none;
      border-left: 1px solid #cbcbcb;
    }
  }

  li a i.fa {
    margin-right: 5px;
  }
}

#main {
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  padding-bottom: 20px;
  background-color: white;
}

.actions {
  clear: both;

  button, input[type="submit"] {
   margin-bottom: 5px;
  }
}

table {
  &.clickableRows {
    tbody tr {
      cursor: pointer;
      cursor: hand;

    }
  }
  &.striped tbody tr:hover {
    background: RGBA(170, 170, 170, 0.7);
  }
}

/* INDEX */
header {
  float: left;
  width: 100%;

  ul.button-bar {
    margin-top: 23px;
    margin-bottom: 10px;
    text-align: right;
  }

  h1 {
    font-size: 2.5em;
  }

  img#logo {
    max-width: 70px;
    max-height: 70px;
    margin: 0 auto;
  }
}

table {
  clear: both;
  position: relative;

  a.row-link::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 34px;
    margin-top: -17px;
  }

  tr td.hiddenFirstCol {
    width: 0px;
    padding: 0px;
  }
}

#notices {
  .icon-remove {
    text-decoration: none;
    font-size: 12px;
    position: absolute;
    top: 15px;
    right: 25px;
    left: auto;
    color: inherit;
    margin-top: 0;
    left: auto;
  }

  i.leftIcon {
    position: absolute;
    top: 50%;
    left: 0.8em;
    margin-top: -0.4em;
    font-size: 1.5em;
  }
}

.floatFix {
  clear: both;
}

#filterrific_filter {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

  .column {
    label,
    input,
    select { width: 100% }
  }
}

.column {
  h2, h3, h4, h5, h6 {
    margin-top: 0px;
  }
}


@media (max-width: 768px) and (min-width: 480px) {
  #filterrific_results table {
    width: 100%;

  }
  .mHide {
    display: none;
  }
}


/* Dashboard */
.dashboard_box {
    background-color: #E6E6E6;
    padding: 0px 10px 10px 10px;
    margin-top: 1em;

    .button {
      float: right;
    }
}


input[type="checkbox"].checkboxInstallUpdate {
  width: 30px;
  height: 30px;
}

table.comboUpdates tbody tr.active {
  background-color: #4D9BE1;
}

#paramPlaceholder_query,
#paramPlaceholder_group {
  display: none;
  visibility: hidden;
}


ul.noDots {
  list-style-type: none;
  margin-left: 0px;
}
