html {
  min-height: 100%;
  background-color: rgba(242, 242, 242, 0.89);
}

#main {
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  padding-bottom: 20px;
  background-color: white;
}

.actions {
 clear: both;
}
