// Place all the styles related to the systems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* INDEX */
header {
  h1 { float: left;}

  ul.button-bar {
    margin-top: 40px !important;
    text-align: right;
  }
}
table {
  clear: both;
  position: relative;

  a.row-link::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 34px;
    margin-top: -17px;
  }

  tr td.hiddenFirstCol {
    width: 0px;
    padding: 0px;
  }

  ul.button-bar {
    min-width: 105px;
  }
}

/* SHOW  */
ul.properties {
  &:first-of-type { clear: left; }

  background-color: #DDD;
  padding: 5px 10px;
  border: 1px dashed #BABABA;

  li {
    list-style-type: none;

    p {
      padding: 0px;
      margin: 0px;
    }

    .property {
      min-width: 150px;
      display: inline-block;
      color: #8F8F8F;
    }
  }
}
