// Place all the styles related to the systems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* INDEX */
header {
  h1, a { float: left;}
  a {
    margin-left: 100px !important;
    margin-top: 25px !important;
  }
}
table {
  clear: both;

  ul.button-bar {
    min-width: 105px;
  }
}

/* SHOW  */
ul#properties {
  margin-left: 0px;

  li {
    list-style-type: none;

    p {
      padding: 0px;
      margin: 0px;
    }

    .property {
      min-width: 150px;
      display: inline-block;
      color: #8F8F8F;
    }
  }
}
